<h1>Edit your recipe below:</h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="recipe[name]" id="name" value = "<%= @recipe.name %>">
  </div>
  <div>  
    <label for="ingredients">Ingredients: </label>
    <input type="text" name="recipe[ingredients]" id="ingredients" value = "<%= @recipe.ingredients %>">
  </div>
  <div>  
    <label for="cook_time">Cook Time: </label>
    <input type="text" name="recipe[cook_time]" id="cook_time" value = "<%= @recipe.cook_time %>">
  </div>  
    <input type="submit" value="Update Recipe">
</form>  