<h1><%= @recipe.name %></h1>
<h2>Ingredients: <%= @recipe.ingredients %></h2>
<h2>Cook time: <%= @recipe.cook_time %></h2>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete" id="delete">
</form>
<h3><a href="/recipes">Recipe List</a></h3>  List</a></h3> 